<farris-section
    class="f-section-form f-section-in-main"
    [enableAccordion]="'default'"
    [mainTitle]="'详细信息'"
    [enableMaximize]="true"
>
    <div
        class="f-form-layout farris-form farris-form-controls-inline"
        [formGroup]="viewModel.form"
    >
        <fieldset class="f-section-formgroup">
            <div class="f-section-formgroup-inputs">
                <div class="col-12">
                    <div class="farris-group-wrap">
                        <div class="form-group farris-form-group">
                            <label class="col-form-label">
                                <span class="farris-label-text">标识</span>
                            </label>
                            <div class="farris-input-wrap">
                                <input
                                    type="text"
                                    class="form-control"
                                    name="ID"
                                    formControlName="id"
                                    [readonly]="true"
                                />
                                <div
                                    class="farris-feedback valid-feedback"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="farris-group-wrap">
                        <div class="form-group farris-form-group">
                            <label class="col-form-label">
                                <span class="farris-label-text">编号</span>
                            </label>
                            <div class="farris-input-wrap">
                                <input
                                    type="text"
                                    class="form-control"
                                    name="Code"
                                    formControlName="code"
                                    [readonly]="
                                        !viewModel.stateMachine['editable']
                                    "
                                />
                                <div
                                    class="farris-feedback valid-feedback"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="farris-group-wrap">
                        <div class="form-group farris-form-group">
                            <label class="col-form-label">
                                <span class="farris-label-text">名称</span>
                            </label>
                            <div class="farris-input-wrap">
                                <input
                                    type="text"
                                    class="form-control"
                                    name="Name"
                                    formControlName="name"
                                    [readonly]="
                                        !viewModel.stateMachine['editable']
                                    "
                                />
                                <div
                                    class="farris-feedback valid-feedback"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</farris-section>
